USE [master]
GO
/****** Object:  Database [NAIL_SALON]    Script Date: 8/17/2025 11:53:55 AM ******/
CREATE DATABASE [NAIL_SALON]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NAIL_SALON', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\NAIL_SALON.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NAIL_SALON_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\NAIL_SALON_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NAIL_SALON].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NAIL_SALON]
GO
/****** Object:  Table [dbo].[tbl_Admin]    Script Date: 8/17/2025 11:53:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Admin](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[phone] [varchar](20) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[active] [int] NULL,
	[salt] [varchar](100) NULL,
 CONSTRAINT [pk_Admin_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Category]    Script Date: 8/17/2025 11:53:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[active] [int] NULL,
 CONSTRAINT [pk_Category_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_City]    Script Date: 8/17/2025 11:53:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_City](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[city_name] [nvarchar](200) NULL,
 CONSTRAINT [pk_City_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Customer]    Script Date: 8/17/2025 11:53:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Customer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[phone] [varchar](20) NOT NULL,
	[address] [nvarchar](200) NULL,
	[district_id] [int] NULL,
	[city_id] [int] NULL,
	[birthday] [date] NULL,
 CONSTRAINT [pk_Customer_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_District]    Script Date: 8/17/2025 11:53:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_District](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[district_name] [nvarchar](200) NULL,
 CONSTRAINT [pk_District_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Employer]    Script Date: 8/17/2025 11:53:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Employer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[phone] [varchar](20) NOT NULL,
	[password] [varchar](100) NULL,
	[email] [varchar](100) NULL,
	[salt] [varchar](200) NULL,
 CONSTRAINT [pk_Employer_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Order]    Script Date: 8/17/2025 11:53:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[total_price] [decimal](18, 0) NULL,
	[total_discount] [int] NULL,
	[customer_id] [int] NULL,
	[employer_id] [int] NULL,
	[order_date] [date] NULL,
 CONSTRAINT [pk_Order_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_OrderDetails]    Script Date: 8/17/2025 11:53:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_OrderDetails](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[description] [nvarchar](200) NULL,
	[price] [decimal](18, 0) NULL,
	[service_id] [int] NULL,
	[order_id] [int] NULL,
 CONSTRAINT [pk_OrderDetails_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Product]    Script Date: 8/17/2025 11:53:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[description] [nvarchar](200) NULL,
	[price] [decimal](18, 0) NULL,
	[category_id] [int] NULL,
	[stock] [int] NULL,
	[active] [int] NULL,
	[image] [nvarchar](200) NULL,
 CONSTRAINT [pk_Produt_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Service]    Script Date: 8/17/2025 11:53:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Service](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[description] [nvarchar](200) NULL,
	[price] [decimal](18, 0) NULL,
	[active] [int] NULL,
	[image] [nvarchar](200) NULL,
	[discount] [int] NULL,
 CONSTRAINT [pk_Service_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ServiceProduct]    Script Date: 8/17/2025 11:53:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ServiceProduct](
	[service_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NULL,
 CONSTRAINT [pk_Service_id_Product_id] PRIMARY KEY CLUSTERED 
(
	[service_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_Admin] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[tbl_Category] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[tbl_Order] ADD  DEFAULT ((0)) FOR [total_discount]
GO
ALTER TABLE [dbo].[tbl_Product] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[tbl_Service] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[tbl_Service] ADD  DEFAULT ((0)) FOR [discount]
GO
ALTER TABLE [dbo].[tbl_ServiceProduct] ADD  DEFAULT ((0)) FOR [quantity]
GO
ALTER TABLE [dbo].[tbl_Customer]  WITH CHECK ADD  CONSTRAINT [fk_City_customer] FOREIGN KEY([city_id])
REFERENCES [dbo].[tbl_City] ([id])
GO
ALTER TABLE [dbo].[tbl_Customer] CHECK CONSTRAINT [fk_City_customer]
GO
ALTER TABLE [dbo].[tbl_Customer]  WITH CHECK ADD  CONSTRAINT [fk_District_customer] FOREIGN KEY([district_id])
REFERENCES [dbo].[tbl_District] ([id])
GO
ALTER TABLE [dbo].[tbl_Customer] CHECK CONSTRAINT [fk_District_customer]
GO
ALTER TABLE [dbo].[tbl_Order]  WITH CHECK ADD  CONSTRAINT [fk_Customer_order] FOREIGN KEY([customer_id])
REFERENCES [dbo].[tbl_Customer] ([id])
GO
ALTER TABLE [dbo].[tbl_Order] CHECK CONSTRAINT [fk_Customer_order]
GO
ALTER TABLE [dbo].[tbl_Order]  WITH CHECK ADD  CONSTRAINT [fk_Employer_order] FOREIGN KEY([employer_id])
REFERENCES [dbo].[tbl_Employer] ([id])
GO
ALTER TABLE [dbo].[tbl_Order] CHECK CONSTRAINT [fk_Employer_order]
GO
ALTER TABLE [dbo].[tbl_OrderDetails]  WITH CHECK ADD  CONSTRAINT [fk_Order_orderdetails] FOREIGN KEY([order_id])
REFERENCES [dbo].[tbl_Order] ([id])
GO
ALTER TABLE [dbo].[tbl_OrderDetails] CHECK CONSTRAINT [fk_Order_orderdetails]
GO
ALTER TABLE [dbo].[tbl_OrderDetails]  WITH CHECK ADD  CONSTRAINT [fk_Service_orderdetails] FOREIGN KEY([service_id])
REFERENCES [dbo].[tbl_Service] ([id])
GO
ALTER TABLE [dbo].[tbl_OrderDetails] CHECK CONSTRAINT [fk_Service_orderdetails]
GO
ALTER TABLE [dbo].[tbl_Product]  WITH CHECK ADD  CONSTRAINT [fk_Category_product] FOREIGN KEY([category_id])
REFERENCES [dbo].[tbl_Category] ([id])
GO
ALTER TABLE [dbo].[tbl_Product] CHECK CONSTRAINT [fk_Category_product]
GO
ALTER TABLE [dbo].[tbl_ServiceProduct]  WITH CHECK ADD  CONSTRAINT [fk_Product_ServiceProduct] FOREIGN KEY([product_id])
REFERENCES [dbo].[tbl_Product] ([id])
GO
ALTER TABLE [dbo].[tbl_ServiceProduct] CHECK CONSTRAINT [fk_Product_ServiceProduct]
GO
ALTER TABLE [dbo].[tbl_ServiceProduct]  WITH CHECK ADD  CONSTRAINT [fk_Service_ServiceProduct] FOREIGN KEY([service_id])
REFERENCES [dbo].[tbl_Service] ([id])
GO
ALTER TABLE [dbo].[tbl_ServiceProduct] CHECK CONSTRAINT [fk_Service_ServiceProduct]
GO
USE [master]
GO
